.containerMaster {
}

.navbar {
  z-index: 1; //so the page content scrolls underneath it
  position: fixed;
  right: 0px;
  left: 0px;
  margin-bottom: 0;
  border-radius: 0;
}

.footer {
  position: fixed;
  display:block;
  background-color: #dddddd;
  padding: 10px;
  padding-top: 20px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  line-height: 0px; //to vertically align the text
}
