.plantSpot {
  @extend.col-md-3;
  width:200px;
  height:200px;
  overflow: hidden;


  .plantImage {
    width: 200px;
    height: 200px;
    // object-fit: cover;
  }
}

.addSpot-button{
  background-color: transparentize(white, 0.8);
}

.addSpot-symbol{
  font-size: 300%
}

.linedPlantSpots {
  @extend.row;
}
