.plantscontainer-component {
}

.plantscontainer-menu {
  z-index: 1; //so the page content doesn'n scroll over it
  @extend .row;
  position: fixed;
  left: 0px;
  right: 0px;
  top:50px;
  padding-left: 20px;
  background-color: lightgreen;
}

.wrapper {
  @extend.col-md-2;
  margin-right: 15px;
  padding-bottom: 20px;
}

.plantsContainer {
  font-size: 14px;
  display: inline;
  width: 130px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  background-color: white;
}

.containerName {
  font-weight: bold;
}

.deleteContainer {
  height:50px;
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
  position:absolute;
  background-color: transparentize(grey, 0.8);
}

.deleteSymbol {
  font-size: 20px;
  line-height: 30px; //to vertically center symbol in container
  color: transparentize(black, 0.5)
}


.add-container {
  display: inline;
  margin-left: 10px;
  width: 50px;
  height:50px;
  border-radius: 10px;
  position: absolute; //to put it on right side. and also to hold position when with bigger text-size
  right: 40px;
  background-color: ivory; //transparentize(darksalmon, 0.5);
}

.addContainer-symbol {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}
