.plantSpot {
  @extend.col-md-3;
  width:200px;
  height:200px;
  overflow: hidden;


  .plantImage {
    width: 200px;
    height: 200px;
    // object-fit: cover;
  }
}

.linedPlantSpots {
  @extend.row;
}
