.linedPlantSpots {
  @extend.row;
}

.plantSpot {
  @extend.col-md-3;
  width:auto;
  height:auto;
  display:inline-block;
}

.plantPictureButton{
  width:200;
  height:200;
  overflow: hidden;
}

.plantImage {
  width: 200px;
  height: 200px;
}
